<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../style/pass.css" type="text/css">
    <script src="https://kit.fontawesome.com/4228e33b37.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="admin-nav">
        <div>
            <a href="adminhome.php"> <h2 style="margin-left: 20px; ">Gymasio Dashboard</h2></a>

        </div>
        <div>
            <i class="fas fa-sign-out-alt" style="font-size: 25px; margin-top:20px;margin-right: 20px;"></i>
        </div>
    </div>

    <br><br><br>

    <h2 style="color: white;margin-left: 52px;">Subscription Pass</h2>
    <br><br>
    <table class="table-pass">
        <tr class="border-tr" style="background-color: white;color:black;">
        <td>User Name</td>
        <td>User Email</td>
        <td>User Address</td>
        <td>Pass Type</td>
        <td>Pass Details</td>
        <td>Pass Price</td>
        </tr>
        <tr class="border-tr">
            <td >xyz</td>
            <td >xyz</td>
            <td>xyz</td>
            <td>xyz</td>
            <td>xyz</td>
            <td>xyz</td>

        </tr>
      


    </table>
</body>
</html>