<html>

<head>
    <!-- css link -->
    <link rel="stylesheet" href="../style/profile.css" />
</head>

<body>
    <div class="profile-container">
        <div class="home-nav">
            home nav
        </div>
        <div class="profile-body">

            <div class="user-profile">
                <div class="user-icon">
                    <i class="fa-solid fa-user-gear"></i>
                </div>
                <div class="user-details">
                    <p>first name</p>
                    <p>last name</p>
                    <p>phone number</p>
                    <button>edit</button>
                </div>
            </div>

            <div class="user-pass">
                <div class="pass">
                    <p>date</p>
                    <p>pass type</p>
                    <p>gym name</p>
                </div>
            </div>

        </div>
    </div>
</body>

<!-- font-awesome link -->
<script src="https://kit.fontawesome.com/4384453e56.js" crossorigin="anonymous"></script>

</html>